header {
  display: flex;
  height: 70px;
  background-color: #c4eefc;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header > nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

header img.logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-right: auto;
}

header > nav > button {
  margin-inline: 12px;
  padding: 10px 16px;
  cursor: pointer;
  background-color: #1976d2;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

header > nav > button:hover,
header > nav > a > button:hover {
  background-color: #1565c0;
  transform: translateY(-2px);
}

button.navlink {
}